<h1 mat-dialog-title>Crear Inscripción</h1>
<div mat-dialog-content>
  <form [formGroup]="inscriptionForm">
    <mat-form-field>
      <mat-label>Estudiante</mat-label>
      <mat-select formControlName="studentId">
        <mat-option [value]="student.id" *ngFor="let student of students$ | async">
          {{ student.firstName }} {{ student.lastName }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Curso</mat-label>
      <mat-select formControlName="courseId">
        <mat-option [value]="course.id" *ngFor="let course of courses$ | async">
          {{ course.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="col-12 flex justify-content-end">
  <button mat-flat-button mat-dialog-close color="primary">Cancelar</button>
  <button mat-flat-button (click)="onSubmit()" color="primary">Guardar</button>
</div>

